// TODO: change variables names to kebab-case
// TODO: change palette to google material style colors
// ---------------------------------------- Colors -----------------------------------------
$primary-color: #ffffff;
$secondary-color: #d7d7d7;
$background-color: $primary-color;
$main-text-color: #212121;
$header-text-color: #43454f;
$primary-text-color: lighten($main-text-color, 20%);
$secondary-text-color: lighten($main-text-color, 30%);
$hover-text-color: lighten($main-text-color, 70%);
$border-line-color: lighten($main-text-color, 70%);
$footer-color: #363636;
$success-color: green;
$error-color: #D50000;
$input-color: #F57C00;
$input-error-color: $error-color;
$block-error-color: #f93c42;
$block-error-text-color: #fdfdfd;
$highlight-header-text-color: white;
$highlight-text-color: #F57C00;
$placeholder-color: #999; // rgba(0, 0, 0, 0.65);

$active-gradient: linear-gradient(160deg, #fda130, #fd7400, #ff6977);
$highlight-section-color: #F9F9F9;
$divider-line-color: #e5e5e5;

$button-color: #F57C00;
$button-shadow-color: #fda130;
$button-primary-color: #039BE5;
$button-primary-shadow-color: #039BE5;
$button-highlight-color: #FFB300;
$button-text-color: #505254;
$button-border-color: $secondary-color;
$button-active-color: linear-gradient(120deg, #fda130, #ff7b78);
$button-active-text-color: white;
$button-primary-text-color: white;

$spinner-color: $button-color;
$active-color: #F57C00;
$menu-text-color: lighten($main-text-color, 20%);


// ---------------------------------------- Sizes ------------------------------------------

$top-bar-height: 3rem;
$content-margin: 3rem;
$content-padding-top: 1rem;
$content-padding-sides: 2rem;
$max-content-width: 1280px;
$max-text-width: 900px;
$footer-height: 10rem;
$input-width: 30rem;
$highlight-header-padding: 0.7rem $content-padding-sides;
$problem-line-padding: 0.7rem;

$button-padding-top: 0.3rem;
$button-padding-sides: 1.1rem;

// ---------------------------------------- Fonts ------------------------------------------

$font-size-text-primary: 1rem;
$font-size-input-primary: $font-size-text-primary;

$font-line-height-input-primary: 1rem;

// ---------------------------------------- Skelet -----------------------------------------

$skeleton-color: #ECECEC;
$skeleton-animation-time: 1.5s;
$skeleton-animation-lighten-color-value: 20%;

