// TODO: change variables names to kebab-case
// TODO: change palette to google material style colors
// ---------------------------------------- Colors -----------------------------------------
$primary-color: #ffffff;
$secondary-color: #d7d7d7;
$background-color: $primary-color;
$main-text-color: #212121;
$header-text-color: #43454f;
$primary-text-color: lighten($main-text-color, 20%);
$secondary-text-color: lighten($main-text-color, 30%);
$hover-text-color: lighten($main-text-color, 70%);
$border-line-color: lighten($main-text-color, 70%);
$footer-color: #363636;
$success-color: green;
$error-color: #D50000;
$input-color: #F57C00;
$input-error-color: $error-color;
$block-error-color: #f93c42;
$block-error-text-color: #fdfdfd;
$highlight-header-text-color: white;
$highlight-text-color: #F57C00;
$placeholder-color: #999; // rgba(0, 0, 0, 0.65);

$gradient-start-color: #fda130;
$gradient-middle-color: #fd7400;
$gradient-end-color: #ff6977;

$active-gradient: linear-gradient(160deg, $gradient-start-color, $gradient-middle-color, $gradient-end-color);
$highlight-section-color: #F9F9F9;
$divider-line-color: #e5e5e5;

$button-color: #F57C00;
$button-shadow-color: #fda130;
$button-primary-color: #039BE5;
$button-primary-shadow-color: #039BE5;
$button-highlight-color: #FFB300;
$button-text-color: black;
$button-fade-text-color: lighten($button-text-color, 30%);
$button-border-color: $secondary-color;
$button-active-color: linear-gradient(120deg, #fda130, #ff7b78);
$button-active-text-color: white;
$button-active-fade-text-color: darken($button-text-color, 30%);
$button-primary-text-color: white;

$spinner-color: $button-color;
$active-color: #F57C00;
$menu-text-color: lighten($main-text-color, 20%);

$gradient-text-hover-color: linear-gradient(to right, $gradient-start-color 0%, $gradient-middle-color 25%, $gradient-end-color 50%, transparent 50%) 100% 0 / 200% 200%;

// ---------------------------------------- Sizes ------------------------------------------

$top-bar-height: 3rem;
$content-margin: 3rem;
$content-padding-top: 1rem;
$content-padding-sides: 2rem;
$max-content-width: 1280px;
$max-text-width: 900px;
$footer-height: 10rem;
$input-width: 30rem;
$highlight-header-padding: 0.7rem $content-padding-sides;
$problem-line-padding: 0.7rem;

$button-padding-top: 0.3rem;
$button-padding-sides: 1.1rem;

$button-font-size: 0.85rem;

// Default browser size, used only for compatibility with other pseudo-inputs
$min-input-height: 19px;
// ---------------------------------------- Fonts ------------------------------------------

$font-size-text-primary: 1rem;
$font-size-input-primary: $font-size-text-primary;

$font-line-height-input-primary: 1rem;

// ---------------------------------------- Animation --------------------------------------

$input-animation-time: 0.2s;

// ---------------------------------------- Skelet -----------------------------------------

$skeleton-color: #ECECEC;
$skeleton-animation-time: 1.5s;
$skeleton-animation-lighten-color-value: 20%;

