$primaryColor: #ffffff;
$secondaryColor: #d7d7d7;
$backgroundColor: $primaryColor;
$mainTextColor: #282a2f;
$headerTextColor: #5e616b;
$secondaryTextColor: lighten($mainTextColor, 30%);
$footerColor: #363636;
$doneColor: green;

$topBarHeight: 3rem;
$contentMargin: 3rem;
$contentPaddingTop: 3rem;
$contentPaddingSides: 1.5rem;
$maxContentWidth: 1280px;
$maxTextWidth: 900px;
$footerHeight: 10rem;

$skeletonColor: #ECECEC;
$skeletonAnimationTime: 1.5s;
$skeletonAnimationLightenColorValue: 20%;
